<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"  tabindex="0"><img class="rounded" src="assets/logo.png"
          alt="Logotipo corporativo" height="60"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark"
        aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbarDark"
        aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item"><a class="nav-link" routerLink="/inicio" routerLinkActive="active"><i class="fa-solid fa-house"></i> inicio</a></li>
            <li class="nav-item" *ngIf="auth.isAutenticated"><a class="nav-link" routerLink="/demos" routerLinkActive="active"><i class="fa-solid fa-chalkboard-user"></i> demos</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/chisme/de/hacer/numeros" routerLinkActive="active"><i class="fa-solid fa-calculator"></i> calculadora</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contactos" routerLinkActive="active"><i class="fa-solid fa-address-book"></i> contactos</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/alysia/baxendale" routerLinkActive="active"><i class="fa-solid fa-address-book"></i> alysia</a></li>
            <li class="nav-item" *ngIf="auth.isInRoles('Empleados')"><a class="nav-link" routerLink="/libros" routerLinkActive="active"><i class="fa-solid fa-book"></i> libros</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/demo.svg" routerLinkActive="active"><i class="fa-solid fa-image"></i> grafico</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/config" routerLinkActive="active"><i class="fa-solid fa-rectangle-list"></i> config</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/config/datos" routerLinkActive="active"><i class="fa-solid fa-rectangle-list"></i> datos</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/mala" routerLinkActive="active"><i class="fa-solid fa-rectangle-list"></i> mala</a></li>
          </ul>
          <app-login />
        </div>
      </div>
    </div>
  </nav>
</header>
